@page "/"
@using Microsoft.EntityFrameworkCore;
@using Skybot.FactoidViewer.Models;
@using Skybot.FactoidViewer.Shared;
@using Skybot.FactoidViewer.Data;
@using Syncfusion.Blazor.Data;
@using Syncfusion.Blazor;
@using System.Collections;
@using Syncfusion.Blazor.Grids;
@using Microsoft.Extensions.Configuration
@inject IJSRuntime JsRuntime
@inject IConfiguration Configuration
@{
    string ApiUri = Configuration["ApiUri"] ?? "/api/DataGridController";
    string InsertUri = ApiUri + "/InsertFactoid";
    string UpdateUri = ApiUri + "/UpdateFactoid";
    string DeleteUri = ApiUri + "/DeleteFactoid";
}

<PageTitle>r/Skyrimmods Factoids</PageTitle>

<div class="content">
    <h1 id="title">r/Skyrimmods Factoids</h1>
    <h2 id="author">Visit us over at <a href="https://www.reddit.com/r/skyrimmods/">r/Skyrimmods</a></h2>

    <span class="error">@ErrorDetails</span>
    <SfButton OnClick="Refresh" CssClass="refresh" IsPrimary="true" Content="Refresh Data"></SfButton>
    <AuthorizeView>
        <Authorized>
            <SfGrid ID="Grid" @ref="@Grid" TValue="Factoid" AllowSorting="true" AllowResizing="true" AllowReordering="true" AllowGrouping="true" AllowPaging="true" Toolbar="@(new List<string>() { "Search", "Add", "Edit","Update","Delete","Cancel" })" AllowFiltering="true" AllowSelection="true">
                <SfDataManager Url="@ApiUri" InsertUrl="@InsertUri" UpdateUrl="@UpdateUri" RemoveUrl="@DeleteUri" Adaptor="Adaptors.UrlAdaptor"></SfDataManager>
                <GridPageSettings PageSize="15"></GridPageSettings>
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Normal"></GridEditSettings>
                <GridEvents TValue="Factoid" OnActionFailure="@ActionFailure"></GridEvents>
                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                <GridSortSettings>
                    <GridSortColumns>
                        <GridSortColumn Field="Key" Direction="Syncfusion.Blazor.Grids.SortDirection.Ascending"></GridSortColumn>
                        <GridSortColumn Field="CreatedAt" Direction="Syncfusion.Blazor.Grids.SortDirection.Descending"></GridSortColumn>
                    </GridSortColumns>
                </GridSortSettings>
                <GridColumns>
                    <GridColumn Field="Key" HeaderText="Key" IsPrimaryKey="true" IsIdentity="true"></GridColumn>
                    <GridColumn Field="CreatedBy" HeaderText="CreatedBy" Type="ColumnType.String" AllowEditing="false"></GridColumn>
                    <GridColumn Field="CreatedAt" HeaderText="CreatedAt" AllowEditing="false">
                        <Template Context="factoid">
                            @{
                                var contextval = factoid as Factoid;
                                <div>@Helper.FromUnixTime(contextval!.CreatedAt)?.ToString("dd/MM/yyyy hh:mm tt")</div>
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn Field="ModifiedBy" HeaderText="ModifiedBy" Type="ColumnType.String" AllowEditing="false"></GridColumn>
                    <GridColumn Field="ModifiedAt" HeaderText="ModifiedAt" AllowEditing="false">
                        <Template Context="factoid">
                            @{
                                var contextval = factoid as Factoid;
                                <div>@Helper.FromUnixTime(contextval!.ModifiedAt)?.ToString("dd/MM/yyyy hh:mm tt")</div>
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn Field="LockedBy" HeaderText="LockedBy" Type="ColumnType.String" AllowEditing="false"></GridColumn>
                    <GridColumn Field="LockedAt" HeaderText="LockedAt" AllowEditing="false">
                        <Template Context="factoid">
                            @{
                                var contextval = factoid as Factoid;
                                <div>@Helper.FromUnixTime(contextval!.LockedAt)?.ToString("dd/MM/yyyy hh:mm tt")</div>
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn Field="Fact" HeaderText="Fact" Type="ColumnType.String"></GridColumn>
                    <GridColumn Field="RequestedCount" HeaderText="RequestedCount" AllowEditing="false"></GridColumn>
                </GridColumns>
            </SfGrid>
        </Authorized>
        <NotAuthorized>
            <SfGrid ID="Grid" @ref="@Grid" TValue="Factoid" AllowSorting="true" AllowResizing="true" AllowReordering="true" AllowGrouping="true" AllowPaging="true" Toolbar="@(new List<string>() { "Search", "Cancel" })" AllowFiltering="true" AllowSelection="true">
                <SfDataManager Url="@ApiUri" Adaptor="Adaptors.UrlAdaptor"></SfDataManager>
                <GridPageSettings PageSize="15"></GridPageSettings>
                <GridEvents TValue="Factoid" OnActionFailure="@ActionFailure"></GridEvents>
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                <GridSortSettings>
                    <GridSortColumns>
                        <GridSortColumn Field="Key" Direction="Syncfusion.Blazor.Grids.SortDirection.Ascending"></GridSortColumn>
                        <GridSortColumn Field="CreatedAt" Direction="Syncfusion.Blazor.Grids.SortDirection.Descending"></GridSortColumn>
                    </GridSortColumns>
                </GridSortSettings>
                <GridColumns>
                    <GridColumn Field="Key" HeaderText="Key" IsPrimaryKey="true" IsIdentity="true" AutoFit="true"></GridColumn>
                    <GridColumn Field="Fact" HeaderText="Fact" Type="ColumnType.String"></GridColumn>
                    <GridColumn Field="RequestedCount" HeaderText="RequestedCount" AllowEditing="false" AutoFit="true"></GridColumn>
                </GridColumns>
            </SfGrid>
        </NotAuthorized>
    </AuthorizeView>
</div>

<style>
    .refresh {
        margin-block: 1rem;
    }
</style>

@code {
    SfGrid<Factoid>? Grid { get; set; }

    public string ErrorDetails = "";

    public void ActionFailure(FailureEventArgs args)
    {
        this.ErrorDetails = "Server Exception: " + args.ToString();
        StateHasChanged();
    }

    private async Task Refresh() { 
        await Grid.Refresh();
    }
}
